---
layout: default
---
{% assign posts_count = paginator.posts | size %}

<div class="home">

  <h2>Welcome!</h2>
  <p>
    The CS Education Research Group of the <a href="http://web.cs.toronto.edu/research/areas.htm">
    Department of Computer Science at the University of Toronto</a> focuses on the application
    and empirical assessment of modern learning principles in the context
    of undergraduate computing education. Recent projects have focused
    on peer instruction, blended and online teaching, teamwork in
    programming courses, and educational data mining. The group also
    develops and maintains software in support of computing classrooms.
  </p>
  <p>
    Students can <a href="http://web.cs.toronto.edu/Graduate/prospective_gradwhy.htm">apply for Master's or Ph.D programs</a> in Computer Science with a focus on <span class="bold">computer science education</span>, as well as using computer science techniques to enhance education in other fields. Students should indicate interest in being advised by <a href="http://www.josephjaywilliams.com/">Joseph Jay Williams</a> or <a href="http://www.tovigrossman.com/">Tovi Grossman</a>, and will be able to work with other members of the Computer Science Education group, the HCI group in the <a href="http://www.dgp.toronto.edu/home/people">DGP</a>, and the <a href="http://www.cs.toronto.edu:40292/">machine learning group</a>.
  </p>

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="post-title">{{ post.title }}</h3></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
  {% include pagination.html %}
</div>
