---
layout: default
title: People
permalink: /people/
tags: people faculty grads
---

<div class="home">

  <h2>Faculty</h2>

  <div class="posts">
    {% for person in site.people %}
      {% if person.categories contains "faculty" %}
        <div style="margin: 20px; width: 120px; overflow: hidden; display: inline-block; text-align: center;">
          <a href="{{ person.homepage }}" class="post-link">
            <img src="{{ person.photo }}" style="max-width: 100%;"><br />
            {{ person.firstname }}<br />{{ person.lastname }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Graduate Students</h2>

  <div class="posts">
    {% for person in site.people %}
      {% if person.categories contains "graduate" %}
        <div style="margin: 20px; width: 120px; overflow: hidden; display: inline-block; text-align: center;">
          <a href="{{ person.homepage }}" class="post-link">
            <img src="{{ person.photo }}" style="max-width: 100%;"><br />
            {{ person.firstname }}<br />{{ person.lastname }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Undergraduate Students</h2>

  <div class="posts">
    <ul>
    {% for person in site.people %}
      {% if person.categories contains "undergraduate" %}
        <li>
         {% if person.homepage %}
            <a href="{{ person.homepage }}" class="post-link">{{ person.firstname }} {{ person.lastname }}</a>
         {% else %}
            {{ person.firstname }} {{ person.lastname }}
         {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <h2>Former Members and Alumni</h2>

  Past members can be found on the <a href="{{ site.url }}/alumni">alumni page</a>.

</div>
