---
layout: default
title: People
permalink: /people/
tags: people faculty grads
---

<div class="home">

  <h2>Faculty and Graduate Students</h2>

  <div class="posts">
    {% for person in site.people %}
      {% if person.categories contains "graduate" or person.categories contains "faculty" %}
        <div style="margin: 20px; width: 120px; overflow: hidden; display: inline-block; text-align: center;">
          <a href="{{ person.homepage }}" class="post-link">
            <img src="{{ person.photo }}" style="max-width: 100%;"><br />
            {{ person.firstname }}<br />{{ person.lastname }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Current Undergraduate Students</h2>

  <div class="posts">
    <ul>
    {% for person in site.people %}
      {% if person.categories contains "undergraduate" %}
        <li>
         {% if person.homepage %}
            <a href="{{ person.homepage }}" class="post-link">{{ person.firstname }} {{ person.lastname }}</a>
         {% else %}
            {{ person.firstname }} {{ person.lastname }}
         {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <h2>Alumni</h2> 

  <div class="posts">
    {% for person in site.people %}
      {% if person.categories contains "grad-alumni" %}
        <div style="margin: 20px; width: 120px; overflow: hidden; display: inline-block; text-align: center;">
          <a href="{{ person.homepage }}" class="post-link">
            <img src="{{ person.photo }}" style="max-width: 100%;"><br />
            {{ person.firstname }}<br />{{ person.lastname }}
            {% if person.institution %}
              <font size=3><br />({{ person.institution }})</font>
            {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="posts">
    <b>Undergraduates</b>
    <ul>
    {% for person in site.people %}
      {% if person.categories contains "undergrad-alumni" %} 
        <li>
         {% if person.homepage %}
            <a href="{{ person.homepage }}" class="post-link">{{ person.firstname }} {{ person.lastname }}</a>
         {% else %}
            {{ person.firstname }} {{ person.lastname }}
         {% endif %}
         {% if person.year %}
            ({{ person.year }})
         {% endif %}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

</div>
